<ion-header>
  <ion-toolbar>
    <ion-title>signin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form class="signform"> 
        <ion-list>
          <ion-item>
            <h1>Sign up to your account</h1>
            <br>
            <br>
            <br>
          </ion-item>
          <ion-item >
            <label>UserName:   </label>
            <ion-input  placeholder="  Username"></ion-input>
          </ion-item>
          <ion-item>
            <label>Password:   </label>
            <ion-input placeholder="  Password"></ion-input>
          </ion-item>
          <ion-item>
            <label>Confirm:   </label>
            <ion-input placeholder="  Confirm Password"></ion-input>
          </ion-item>
          <ion-item>
              <ion-button class="signButton">Submit</ion-button>
          </ion-item>
        </ion-list>
      </form>

</ion-content>
