<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Welcome,{{this.userName}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>Easy Exchange
      <ion-button slot="end" fill="outline">user<ion-icon slot="end" name="person"></ion-icon>
      </ion-button>
  </ion-item>
  <div class="flex">
    <ion-item>
      <ion-label>Currency:</ion-label>
      <ion-select [compareWith]="compareWith">
        <ion-select-option *ngFor="let user of users">{{user.first + ' ' + user.last}}</ion-select-option>
      </ion-select>
      </ion-item>
      <ion-label>
          <ion-icon name="code" ></ion-icon>
      </ion-label>
      <ion-item>
        <ion-label>Currency:</ion-label>
        <ion-select [compareWith]="compareWith">
          <ion-select-option *ngFor="let user of users">{{user.first + ' ' + user.last}}</ion-select-option>
        </ion-select>
      </ion-item>
  </div>
  <div class="checkbutton">
      <ion-button expand="block">
          check
      </ion-button>
  </div>

</ion-content>
