<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Welcome,{{this.userName}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>Easy Exchange
      <ion-button slot="end" fill="outline">user<ion-icon slot="end" name="person"></ion-icon>
      </ion-button>
  </ion-item>
  <div class="flex">
    <ion-item>
      <ion-label>Currency:</ion-label>
      <ion-select [(ngModel)]="currency1"  (ionChange)="change1($event)">
        <ion-select-option value="Currency1.CurrencyCode" *ngFor="let Currency1 of this.currency; let i = index">{{Currency1.CurrencyName}}</ion-select-option>
      </ion-select>
      
      </ion-item>
      <ion-label>
          <ion-icon name="code" ></ion-icon>
      </ion-label>
      <ion-item>
        <ion-label>Currency:</ion-label>
        <ion-select  [(ngModel)]="currency2" >
          <ion-select-option *ngFor="let Currency2 of this.currency; let i = index" >{{Currency2.CurrencyName}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>
          {{currency1.CurrencyCode}}
        </ion-label>
      </ion-item>
  </div>
  <div class="checkbutton">
      <ion-button expand="block">
          check
      </ion-button>
  </div>

</ion-content>
